<style>
  h1{
    background: #FFDAB9;
    padding: 3px;
  }
  img {
    border: 2px solid #FAEBD7;
    padding: 3px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="text-center rounded-pill">食ラボのご案内</h1>
      <p class="text-center pt-4">食事について不安に思うことや、身に付けたい知識を</p>
      <p class="text-center">たくさんの人とコミュニケーションを取りながら研究できます!</p>
      <p class="text-center">聞いてみたいけど機会がない、他の人の意見も知りたい、</p>
      <p class="text-center">そんな時はここで話しましょう!</p>
      <p class="text-center">是非ご利用ください!!</p>
    </div>
  </div>
  <!--<div class="text-center">-->
  <!--  <%#= image_tag("18.42.04.png", alt: "紹介画像", size: "450x300") %>-->
  <!--  <%#= image_tag("18.42.19.png", alt: "紹介画像2", size: "450x300") %>-->
  <!--</div>-->
</div>